ion-content{
    --background: white;
}
ion-header{
    font-size: large;
    color: Black;
    text-align: center;
}

ion-toolbar{
    --background: rgb(24, 128, 163);
    font-size: xx-large;
}

ion-label{
    text-align: center;
    color: black;
}

ion-input{
    color: gray;
}

ion-item{
    --background: white;
    color: black;
    width: 50%;
    margin-left: 25%;
    height: 60px;
}
.cerrar{
    float: right;
}